@charset "utf-8";
/* CSS Document */
body{margin:0; padding:0; font-family: 'Open Sans', sans-serif;  overflow-x:hidden; background:#f6f6f6;}
div, header, nav, footer, aside, figure, section, address, article{ display:block; margin:0; padding:0;}
a{text-decoration:none; outline:none; -webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out;}
a:hover, a:focus{text-decoration:none; outline:none; }
img{max-width:100%; height:auto; vertical-align:middle; border:0; outline:none;}
.fl{float:left !important;}
.fr{float:right !important;}
.clear{margin:0; padding:0; clear:both; font-size:0; line-height:0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
img{max-width:100%; height: auto;}
.noBor{border:none !important;}
.noBorR{border-right:none !important;}
.noBg{background:none !important;}
.pr{padding-right:0 !important;}
.mr{margin-right:0 !important;}
.mr0{margin-right:0 !important;}
.clearfix:after {clear: both; content: " "; display: block; height: 0; visibility: hidden;}
.clearfix {display: inline-block;}
.clearfix {display: block;}
html body {-webkit-text-size-adjust: none;}


/*=============always use inner content width 100%============*/
/*==================Page Css====================*/
.wrapper{/* width:1370px;*/ margin:0 auto;}

.user-info{float:right}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{   padding-left: 10px;
    padding-right: 10px;}
.row {  margin-left: -10px;  margin-right: -10px;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{ vertical-align: middle;}
input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 0;
}
.form-control{border-radius:0;}
.top-bar{ position: fixed;
    width: 100%; z-index:10; height:60px; background:#fff;}
.top-bar .wrapper{}

.login i{margin-right:10px; font-size:25px; color:#d8d8d8;}
.login span{vertical-align:top; margin-right:5px;}
.login .dropdown-menu{right:0; left:inherit}
.login .btn-default{background:none; border:0;}
.login .btn-default span.caret{margin-top:10px; margin-right:0; color:#d8d8d8;}

.toggle-menu {
    background: url(../images/filter-menu.png) no-repeat 0 0;
    display: block;
    float: left;
    height: 27px;
    margin: 12px 0 0 0;
   padding-left:30px;
   color:#fff; font-weight:600; text-transform:uppercase;
}
.body-container {
    margin: 0 auto;
   overflow: hidden;
    padding: 0 1%;
    width: 98%;
}
.leftnavbar-wrapper {
    height: 100%;
    overflow: hidden;
   /* position: fixed;
    top: 110px;*/
    width: 327px;
	margin-top:137px;
}
.leftnavbar-wrapper .nav-col {
    background: none repeat scroll 0 0 #fff;
   /* height: 100%;*/
    margin-right: -17px;
    overflow: hidden;
    position: absolute;
    transition: all 0.2s ease-in-out 0s;
    width: 327px;
    z-index: 1;
	border:none;
	border-radius:5px;
	 box-shadow:-1px -1px 6px #ddd; 
	 margin-bottom:25px;
}
.leftnavbar-wrapper .panel {
    background: none;
    border:  none ;
	box-shadow:none;
}
.content-wrapper {   
    margin-left: 333px;
    padding: 0 !important;
    position: relative;
    top: 0;
    transition: all 0.2s ease-in-out 0s;
    z-index: 1;
	
}
.content-subcontainer {
	/*padding:0 0 0 12px;*/
	background:#f6f6f6;
    
}
.nav-small .content-subcontainer {
    padding:0;
}
.nav-small .nav-col {
    width: 0;
}
.nav-small .content-wrapper {
    margin-left: 0;
}
.nav-small .leftnavbar-wrapper .nav-col{border:0; }

.leftnavbar-wrapper h2{color:#0b9dc9; font-size:16px; font-weight:600; text-transform:uppercase; padding-left:35px; min-height:25px;}

.navbar-collapse{padding-left:0; padding-right:0;}


.logo{ padding:6px 0 0 10px}
.login{margin-top:10px;}
.user-menu{border:0; border-left:1px solid #ebebeb; border-right:1px solid #ebebeb; height:60px;}
.user-menu .btn-default{border:0;}
.user-menu .btn-default:hover, .user-menu .btn-default:active, .user-menu .btn-default:focus, .user-menu .btn-group.open .dropdown-toggle{background:none; box-shadow:none;}
.user-menu h4 strong{  font-size: 16px; font-weight: 600;}
.user-menu h4{  float: left; font-size: 13px; text-align: left; color:#ababab; padding-left:10px; margin-top:10px;}
.user-menu figure{float:left; padding:0 15px;}
.user-menu figure img{ border-radius:28px; width:80%;}
.user-menu span.caret{color:#ababab; margin-top:20px;}
.user-menu  .dropdown-menu i.fa{margin-right: 10px;}
.menu-search .input-group.add-on{width:310px;margin-right:70px;}
.menu-search .input-group-btn .btn-default {
    background: none repeat scroll 0 0 #0b9dc9;
    border-color: #0b9dc9;
    color: #fff;
}
/* Menu CSS-------------------------*/
.main-menu {
	/*position:relative;*/
	/*background:#eac510;*/
	background:#313b49;
	top:60px;
	z-index:9;
	-webkit-box-shadow: -1px 6px 5px -5px rgba(50, 50, 50, 0.75) ;
-moz-box-shadow:    -1px 6px 5px -5px rgba(50, 50, 50, 0.75) ;
box-shadow:         -1px 6px 5px -5px rgba(50, 50, 50, 0.75) ;
}
.main-menu .navbar-nav > li > a {
    font-size: 11px;
}
.menu-search {
    margin-top: 13px;
}
.main-menu .nav > li { position:static; }
.main-menu .navbar-nav{float:right}
.main-menu .navbar-nav > li > a i.fa-angle-down{margin-left:10px;}
.main-menu .navbar-nav > li > .dropdown-menu { width:100%;  padding: 30px; /*background:#313b49;*/background:#eac510; border:0; border-radius:0;-webkit-box-shadow: -1px 6px 5px -5px rgba(50, 50, 50, 0.75) ;
-moz-box-shadow:    -1px 6px 5px -5px rgba(50, 50, 50, 0.75) ;
box-shadow:         -1px 6px 5px -5px rgba(50, 50, 50, 0.75) ;}
.main-menu .navbar-nav > li > .dropdown-menu > li { display:inline-block; margin: 10px 0; padding: 0 10px; width: 19.666%; border-right:1px solid #fff;}	
.main-menu .navbar-nav .dropdown-menu > li > a{font-size:14px; color:#ffffff; padding:0; position:relative;}
.main-menu .navbar-nav .dropdown-menu > li > a .fa-angle-right{margin-top: -7px; position: absolute; right: 8px; top: 50%;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}
.main-menu .navbar-nav .dropdown-menu > li > a:hover .fa-angle-right{right: 0;}
.main-menu .navbar-nav .dropdown-menu > li > a:hover, .main-menu .navbar-nav .dropdown-menu > li > a:focus{background:none;}
.main-menu .navbar-nav > li > a {
	color: #fff;
	/*font-size: 16px;*/
	font-weight: 900;
	text-transform: uppercase;
	padding:13px 4% 11px 4%;
	transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
}
.main-menu .navbar-nav > li > a.active, .main-menu .navbar-nav > li > a:hover { /*color:#313b49;*/ color:#eac510; background-color:transparent }
.main-menu .navbar-nav > li.open a i.icon-dashboard-lg, 
.main-menu .navbar-nav > li > a:hover i.icon-dashboard-lg, 
.main-menu .navbar-nav > li.open > a:focus,.main-menu .navbar-nav > li > a:focus {
	background-position:0 -45px;
	/*color:#313b49;*/
	color:#eac510;
	background-color:transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{background:none;/* color:#313b49;*/color:#eac510;}

.main-menu .navbar-nav > li.open a i.icon-car-lg, 
.main-menu .navbar-nav > li > a:hover i.icon-car-lg { background-position:0 -138px;}
.main-menu .navbar-nav > li.open a i.icon-acnt-lg, 
.main-menu .navbar-nav > li > a:hover i.icon-acnt-lg { background-position:0 -234px;}
.main-menu .navbar-nav > li.open a i.icon-price-lg, 
.main-menu .navbar-nav > li > a:hover i.icon-price-lg { background-position:0 -326px;}
.main-menu .navbar-nav > li.open a i.icon-admin-lg, 
.main-menu .navbar-nav > li > a:hover i.icon-admin-lg { background-position:0 -420px;}
.main-menu .navbar-nav > li.open a i.icon-report-lg, 
.main-menu .navbar-nav > li > a:hover i.icon-report-lg { background-position:0 -512px;}

.icon-set {
	background-image:url(../images/sprite.png);
	background-repeat: no-repeat;
	display:inline-block;
	vertical-align:middle;
	margin-right: 10px;
	transition: all 0.2s ease-in-out 0s;	
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
}
.icon-dashboard-lg {
	background-position:0 0;
	width:35px;
	height:35px;
}
.icon-car-lg {
    background-position: 0 -96px;
    height: 33px;
    width: 45px;
}
.icon-acnt-lg {
    background-position: 0 -190px;
    height: 32px;
    width: 33px;
}
.icon-price-lg {
    background-position: 0 -284px;
    height: 33px;
    width: 32px;
}

.icon-admin-lg {
    background-position: 0 -380px;
    height: 32px;
    width: 36px;
}
.icon-report-lg {
    background-position: 0 -471px;
    height: 32px;
    width: 36px;
}
.icon-dashboard-sm {
    background-position: 0 -579px;
    height: 20px;
    width: 20px;
}
.icon-car-sm {
    background-position: 0 -609px;
    height: 17px;
    width: 24px;
}
.icon-map {
    background-position: 0 -636px;
    height: 24px;
    width: 23px;
}
.icon-mail {
    background-position: 0 -668px;
    height: 14px;
    width: 23px;
}
.icon-carry {
    background-position: 0 -689px;
    height: 26px;
    width: 22px;
}
.icon-note {
    background-position: 0 -725px;
    height: 23px;
    width: 18px;
}

#magic-line { position: absolute; bottom: 0; left: 0; width: 21px; height: 8px; background:url(../images/sprite.png) no-repeat 14px -758px;}


.breadcrumb-cont{background:#e8e7e7; margin: 0 0 20px;}
.breadcrumb{padding-left:0; border-bottom:1px solid #ebebeb; border-radius:0; text-align:right; background: none; border: none; margin: 0;}
.breadcrumb li a{color:#0b9dc9;}
.breadcrumb > li + li:before{content:''}

.filter-head{border-bottom:1px solid #ebebeb; padding:0 20px; padding-bottom:25px;}
.filter-head p{color:#313b49 !important; text-transform:none !important; font-size:14px !important; font-weight:normal !important; line-height: 8px !important;}
.filter-head h2{color:#0b9dc9; font-size:16px !important; font-weight:600 !important; text-transform: uppercase !important; padding-left:35px !important; min-height:25px !important;}

.weight-range h2{background:url(../images/sprite-heading.png) 0 3px no-repeat;}

.shipment-status-list h2{background:url(../images/sprite-heading.png) 0 -31px no-repeat;}
.shipment-status h2{background:url(../images/sprite-heading.png) 0 -31px no-repeat;}
.shipment-status p{color:#ababab;}
.shipment-status .list-group{margin-bottom:0;}
.shipment-status .list-group .list-group-item {border-radius:0; border:0; border-top:1px solid #bfbfbf; margin-bottom:0; padding:8px 0; color: #45b7af; }
.shipment-status .list-group .list-group-item a{display:block;color:#45b7af; }
.shipment-status .list-group .list-group-item:first-child{border:0;}
.shipment-status .list-group .list-group-item .badge{color:#45b7af; font-size:14px; background:none; float:right}

.filter-head.nobord{border:none !important;}
.filter-head.nobotPad{padding-bottom: 0 !important;}
.filter-head.location{padding-top:20px !important;}
.filter-head.location label{font-weight:400;}
.pricing h2{background:url(../images/sprite-heading.png) 0 -61px no-repeat;}
.pricing h2.transit{background:url(../images/transit-icon.png) 0 0 no-repeat !important; line-height:28px; margin-top:40px !important;}

.date-select{border:0; padding-bottom:0;}
.date-select h2{background:url(../images/sprite-heading.png) 0 -95px no-repeat;}

.customer-info h2{background:url(../images/sprite-heading.png) 0 -240px no-repeat;}


.filter-date{border-top:1px solid #ebebeb; padding-top:15px;}
.filter-date h3{color:#313b49; font-size:14px; font-weight:600; text-transform:uppercase; margin-top:0;}
.filter-date label{color:#ababab; font-size:14px; font-weight:normal; line-height:27px;}
.filter-date input[type='text']{ border-radius:0; color:#313b49; font-size:14px; background:url(../images/sprite-heading.png) right -123px no-repeat;}
.filter-date .form-group{margin-bottom:7px;}
.filter-date .btn-update{margin-top:5px;}
.filter-block ul li a{color:#1d1d1d; text-shadow:0px 1px 1px #333;}

.date-pick input[type='text']{ border-radius:0; color:#313b49; font-size:14px; background:url(../images/sprite-heading.png) right -123px no-repeat;}

.btn-reset{background:none; border:0; cursor:pointer; color:#ababab; font-size:14px;}
.btn-update{background:none; border:1px solid #0b9dc9; cursor:pointer; color:#0b9dc9; font-size:14px; }
.slide-range{margin-top:40px;}
.slide-range .irs-slider{background:url(../images/dragger.png) no-repeat; height: 23px; width: 49px; border:0;}
.slide-range .irs-line{background:#dedede; border:0; height:8px;}
.slide-range .irs-bar{background:#0b9dc9;}

.irs-from, .irs-to, .irs-single{border:2px solid #d9d9d9; border-radius:0; background:none;  color: #313b49;
    padding: 4px 15px; top: -20px;}
	
.add-new-shipment{margin-bottom:15px;}
.grid-view{ border: 1px solid #ebebeb; border-radius: 5px; background:#fff; margin-bottom:15px; box-shadow: -1px -1px 6px #ddd; }
.grid-view .table-responsive{overflow-x: visible;}
.grid-view .table{margin-bottom:0;}
.grid-view .table i.fa-circle{font-size: 17px;}
.grid-view .table td{font-size:14px;}
.grid-view .table td  span.sta{margin-top:-2px; }
.grid-view .table th{color:#000; text-transform:uppercase; font-size:14px !important;}
.status{color:#45b7af;}
.grid-view .table > thead > tr > th{border-bottom:1px solid #ddd; padding:10px;font-size: 11px;}
.grid-view .table > thead > tr > th:first-child{text-align:center;}
.grid-view .table > tbody > tr > td:first-child{text-align:center;}
.btn-new{background:#0b9dc9; color:#fff; text-transform:uppercase; margin-right:10px; width:160px; padding:10px 12px; font-weight:700;}
.btn-new span{}
.btn-quote{/*background:#e9545a;*/ color:#fff;text-transform:uppercase;  width:160px; text-align:left; padding:10px 12px; font-weight:700;}
.pick-info{width:150px;}
.table td{font-size: 11px; vertical-align:middle;}
.add-new-shipment .input-group{width:90%; float:right;}
.add-new-shipment .input-group .form-control{ padding:5px 12px; height:40px;}
.add-new-shipment .input-group-btn .btn-default{padding:5px 12px; height:40px; background:#0b9dc9; color:#fff;}
.grid-view .table > tbody > tr > td.btn-all{padding-bottom:0; text-align:left; padding-left:0; padding-right:0; border:0; //*overflow:hidden*/}
.grid-view .table > tbody > tr > td.btn-all div.action-taken{border-top: 1px solid #ebebeb; }
.action-taken{min-height:50px; padding-top:10px; padding-left:20px; padding-right:20px; position:relative;}
.action-taken > ul{padding:0; vertical-align:top; display:inline-table; margin-right:40px;}
.action-taken > ul > li{ list-style-type:none; float:left; margin-left:5px;}
.btn-bol{background:#0b9dc9; color:#fff; min-height:38px;}

.action-taken .btn-email{background:none; border:1px solid #2caad0; color:#2caad0; border-radius:5px;-webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out;}
.action-taken .btn-email i{background:url(../images/sprite-heading.png) 0 -153px no-repeat;  float: left; height: 25px; width: 35px;}
.action-taken .btn-email:hover{background:#8cdcf3; color:#fff;}

.action-taken .btn-print{background:none; border:1px solid #45b7af; color:#45b7af; border-radius:5px;-webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out;}
.action-taken .btn-print i{background:url(../images/sprite-heading.png) 0 -177px no-repeat;float: left; height: 25px; width: 35px;}
.action-taken .btn-print:hover{background:#85e1db; color:#fff;}


.action-taken .btn-action{background:none; border:1px solid #e9545a; color:#e9545a; border-radius:5px;-webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out;}
.action-taken .btn-action i{background:url(../images/sprite-heading.png) 0 -204px no-repeat;float: left; height: 25px; width: 35px;}
.action-taken .btn-action:hover{background:#fd858a; color:#fff;}

.contact-info{padding:5px;}
.contact-info h2{color:#fff; font-size:14px; text-transform:uppercase; font-weight:bold; margin:0; background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
    z-index: 2; padding: 10px 15px;}
.contact-info .list-unstyled li{ background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    position: relative;color:#313b49;}
.contact-info .list-unstyled li b{color:#7f9298; font-weight:normal; min-width:100px; float:left;}
.contact-info .panel-body{padding:0;}
.contact-info .panel-body ul li{border-left:0; border-right:0; border-bottom:0; border-top: 1px solid #ddd;}
.contact-info h3{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  
    text-transform: uppercase;
   }

.action-open{padding: 0 1.5%; margin-top:3%;}
.action-open .address{text-align:center; background-color:#d9edf7; border-radius:5px; padding:4% 3% 7%; margin-bottom:10px; position:relative;}
.action-open .address.destination{background-color:#f2dede; margin-bottom:0; padding:4% 3%;}
.action-open .address h3{font-size:18px; line-height:24px; font-weight:600; color:#303030; margin:0 0 15px;}
.action-open .address h3 span{display:block; font-size:12px; font-weight:400;}
.action-open .address p{font-size:14px; line-height:24px; color:#303030; margin:0;}
.action-open .address p strong{font-weight:700;}
.action-open .address img{position:absolute; left:45%; bottom:-25px; z-index:100;}

.sky{background:#e3f7fe;}

.user-menu .dropdown-menu{left:inherit; right:0;}
.btn-toggle{background:#eac510; color:#fff; font-weight:700; text-transform:uppercase; height:38px; border-radius:5px 5px 0 0; position:absolute; right:25px; bottom:0;}
.btn-toggle:hover, .showArchieved:hover{ color:#fff; }
.showArchieved{background:#0b9dc9;color:#fff; }
.btn-toggle .glyphicon{float:right;margin-left: 5px; margin-top: 2px;font-weight:700; }

.form-control{padding:6px;}
label{font-size:14px;}
.form-group{margin-bottom:15px;}

.tab-content{border-radius:5px;}

/*debanjan Start---------*/
.boardstatus-hld li{padding-bottom:10px; font-size:12px;}
.boardstatus-hld li strong{font-weight:600;}
.boardstatus-hld .satus-label{text-align:right; font-size:12px; line-height:18px; font-weight:600; min-width:130px; display:inline-block; padding-right:15px; float:left;}
.boardstatus-hld .status-abt{display:inline-block; overflow:hidden; font-size:12px; line-height:18px; font-weight:600; min-width:50px; color:#fff; padding:0 10px; border-radius:5px; text-align:center; float:left;}
.boardstatus-hld .status-abt.sent{background-color:#85d27a;}
.boardstatus-hld .status-abt.due{background-color:#8175c7;}

.email-status{margin:0;}
.email-status li{padding-bottom:10px;}
.email-status .satus-label{text-align:right; font-size:12px; line-height:18px; font-weight:600; min-width:120px; display:inline-block; padding-right:15px; float:left;}
.email-status .status-abt{display:inline-block; overflow:hidden; font-size:12px; line-height:18px; font-weight:600; min-width:25px; color:#fff; padding:0 10px; border-radius:5px; text-align:center; float:left; margin-left:10px;}
.email-status .status-abt.yes{background-color:#5cb85c;}
.email-status .status-abt.no{background-color:#d1312c; padding:0 8px;}
.email-status span{float:left; font-size:12px; line-height:18px;}
.email-status.edi span{min-width: 175px; text-align: right;}
.email-status.edi .status-abt{min-width: 25px;}

.file-type-hld{ margin:0px 0 0 !important;}
.file-type-hld li {display: inline-block; padding-right: 9px; text-align: center !important; list-style-type:none; font-size: 11px !important;}
.file-type-hld li .file-type-icon { display: block; font-size: 24px; font-weight: 700;}
.file-type-hld li span{display:block;}

.doc-uploadhld{margin:0 0 5px;}
.doc-uploadhld span{float:left; max-width:100px;}
.inputuploadhld{display:block; overflow:hidden;}
.doc-uploadhld .inputuploadhld input{float: left; width: 60%;}
.inputuploadhld button{float: right; font-size: 12px; line-height: 24px; height: 24px; padding-top: 0 15px; background: linear-gradient(#418fcf, #2f6ca3); color: #fff; border: #246a9b 1px solid; padding: 0 10px;}
.inputuploadhld button:hover{background: linear-gradient(#2f6ca3, #418fcf); color: #fff !important; border: #246a9b 1px solid !important;}
.file-type-hld li .file-type-icon {font-size:35px;}
.audit-trail-btm{padding:5px 0 0 20px;}
/*debanjan End---------*/

.cost-seeting{ text-align:right	;}
.cost-seeting p{ margin:0;}
.cost-seeting h4{ margin:0;}
.sky-blue{color: #0b9dc9; font-weight:600}
.tab-hld{padding:0; margin-top:3% !important; margin-bottom:5% !important; border:#428bca 1px solid; border-radius:5px !important;}
.resp-tabs-list{padding:5px 5px 0 !important; background:#428bca; overflow:hidden;}
.resp-tabs-list li{background-color:transparent;}
.resp-tabs-list li.resp-tab-active{border: none !important; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0;}
.resp-tab-content{border:none !important;}

.resp-tabs-container{border-radius: 5px;}

.btn-cont{text-align:center; padding-bottom: 20px;}
.btn-cont button{height: 39px; font-size: 18px; margin: 0 3px; width:150px;}
.btn-cont .btn-default{background: linear-gradient(#fefefe, #e0e0e0); border:#ccc 1px solid;}
.btn-cont .btn-default:hover{background: linear-gradient(#e0e0e0, #fefefe);}
.btn-cont .btn-primary{background: linear-gradient(#418ac9, #2e6da3); border:#2e6da3 1px solid;}
.btn-cont .btn-primary:hover{background: linear-gradient(#2e6da3, #418ac9);}

.check_calls{/*overflow-y:scroll;*/ height:170px;}
.check_calls.small{height:100px;}
.check_calls .slimScrollDiv{height: 80px !important;}
.check_calls.small .slimScrollDiv{height: 110px !important;}
.check_calls_inner{background-color:#f4f4f4; margin-right:15px; padding:10px; height: 80px !important;}
.check_calls.small .check_calls_inner{height: 110px !important;}
.check_calls_textarea{background-color:#f4f4f4; margin-right:15px; padding:10px;}
.check_calls_inner.no-bg{background:none; padding:0;}
.check_calls_inner p{padding-bottom:20px; font-size:12px; line-height:18px;}
.check_calls_inner p span{display:block;}
.check_calls.small p span{padding-bottom:10px;}
.check_calls_inner p strong{font-weight:700; font-size:14px;}
.check_calls_textarea textarea{height:35px;}
.check_calls_textarea button{font-size: 12px; line-height: 24px; height: 24px; padding-top: 0 15px; background: linear-gradient(#418fcf, #2f6ca3); color: #fff; border: #246a9b 1px solid; padding: 0 10px; margin-top: 10px;}
.check_calls_inner button:hover{background: linear-gradient(#2f6ca3, #418fcf); color: #fff !important; border: #246a9b 1px solid !important;}

textarea.large{height:200px;}

.grid-view .table > tbody > tr > td.footable-row-detail-cell{text-align:left;}
.grid-view .table .footable-row-detail-name{vertical-align:top; padding:5px 5px 5px 0;}
.grid-view .table .footable-row-detail-value {padding:5px 0;}
.grid-view .table td.btn-all .footable-toggle{display:none;}

.panel-body{min-height:150px;}
.panel-title{font-size: 15px;}
.shipment-status-list .shipment-status .select-multi{background:#e9e7e7;color:#000; border:1px solid #333;}
.shipment-status-list .shipment-status .select-multi a{background:#b9b9b9; color:#000 !important;}
.shipment-status .list-group .select-multi a{color:#fff; padding-left:10px;}
.shipment-status .list-group .select-multi .badge{color:#fff;}

.time-box{background: url('../images/time-bg.gif') 100% 50% no-repeat; padding-right: 30px; border-radius: 2px; font-size: 12px;}

.career-responded{border: none; box-shadow: none; border-radius: 5px;}
.career-responded .panel-heading{background-color: #428bca; padding: 15px 15px; text-align: center; font-size: 14px; line-height: 18px; font-weight: 600;}
.career-responded .panel-body{background-color: #f3f3f3;}
.career-responded .panel-body h4{margin: 0; font-size: 24px; line-height: 28px; text-align: center; color: #428bca; padding-bottom: 15px;}
.career-responded .panel-body ul{text-align: center;}
.career-responded .panel-body ul li{display: inline-block; margin: 0 1px; min-width: 100px; border-radius: 3px; font-size: 12px; line-height: 16px; color: #fff; text-align: center; padding: 10px 0;}
.career-responded .panel-body ul li.blue{background-color: #428bca;}
.career-responded .panel-body ul li.green{background-color: #a9d86e;}
.career-responded .panel-body ul li.red{background-color: #ff6c60;}
.career-responded .panel-body ul li strong{display: block; font-size: 30px; line-height: 32px; font-weight: 600;}
.career-responded .panel-body ul li span{display: block; float: none;}

.career-table{border: none; box-shadow: none;}
.career-table th{border-bottom: #c8c8c8 2px solid !important; text-align: left !important; font-size: 14px !important; line-height: 18px !important; color: #428bca !important; font-weight: 600 !important; text-transform: none !important;}
.career-table td{text-align: left !important; font-size: 14px !important; line-height: 24px; color: #000; padding: 15px 8px !important;}
.career-table td .status{display: inline-block; font-size: 12px !important; line-height: 24px !important; width: 65px; text-align: center; color: #fff; border-radius: 3px;}
.career-table td .status.accept{background-color: #a9d86e;}
.career-table td .status.denied{background-color: #ff6c60;}
.career-table td .status.pending{background-color: #8175c7;}
.career-table td button{font-size: 12px; line-height: 24px; height: 24px; padding: 0 10px !important; background: linear-gradient(#418fcf, #2f6ca3); border: #246a9b 1px solid; width: 75px;}


.customer-cost,
.career-cost{border-bottom: none !important; box-shadow: none; border-radius: 5px; border: none;}
.customer-cost .panel-heading{background-color: #428bca; padding: 15px 15px;}
.career-cost .panel-heading{background-color: #8175c7; padding: 15px 15px;}
.customer-cost .panel-heading p,
.career-cost .panel-heading p{font-size: 24px; line-height: 26px; color: #fff; font-weight: 600; text-align: left;}
.customer-cost .panel-heading a,
.career-cost .panel-heading a{font-size: 14; line-height: 26px; color: #fff; font-weight: 600; text-decoration: underline;}
.customer-cost .panel-heading a:hover,
.career-cost .panel-heading a:hover{text-decoration: none;}
.customer-cost .table-responsive,
.career-cost .table-responsive{background-color: #f3f3f3; padding: 15px 0;}
.customer-cost .table-responsive table,
.career-cost .table-responsive table{background-color: #f3f3f3;}
.customer-cost .table-responsive table th,
.customer-cost .table-responsive table th,
.career-cost .table-responsive table th{border: none !important; text-align: left !important; font-size: 14px !important; line-height: 14px !important; color: #000 !important; text-transform: none !important; font-weight: 400 !important;}
.customer-cost .table-responsive table td,
.career-cost .table-responsive table td{border: none !important; padding-top: 0 !important; width: 21%;}
.customer-cost .table-responsive table td .form-group,
.career-cost .table-responsive table td .form-group{margin:0 !important;}
.customer-cost .table-responsive table td button,
.career-cost .table-responsive table td button{font-size: 12px;width:68px; line-height: 26px; height: 26px; padding: 0 5px !important; background: linear-gradient(#fefefe, #e6e6e6); color: #000; border: #b8b8b8 1px solid; text-align: left;}
.customer-cost .table-responsive table td button span,
.career-cost .table-responsive table td button span{display: inline-block; width: 14px; height:14px; margin: 6px 4px 0 0; float: left;}
.customer-cost .table-responsive table td button span.minus,
.career-cost .table-responsive table td button span.minus{background: url('../images/minus-icon.png') 0 0 no-repeat;}
.customer-cost .table-responsive table td button span.plus,
.career-cost .table-responsive table td button span.plus{background: url('../images/plus-icon.png') 0 0 no-repeat;}
.addRowBtn_customer,
.addRowBtn_carrier{font-size: 12px; width:120px; line-height: 26px; height: 26px; padding: 0 5px !important; background: linear-gradient(#fefefe, #e6e6e6); color: #000; border: #b8b8b8 1px solid; text-align: left;}
.addRowBtn_customer span,
.addRowBtn_carrier span{display: inline-block; width: 14px; height:14px; margin: 6px 4px 0 0; float: left; background: url('../images/plus-icon.png') 0 0 no-repeat;}


.shipment-status-list{overflow: hidden; padding: 15px 10px 0 !important;}
.shipment-status-list li{float: left; margin: 0 15px 15px 0 !important; border: 1px solid #CCC; padding:0;}
.shipment-status-list li a{display: block; width: 70px; height: 66px; background-color: #fafafa; border: #ddd 1px solid; position: relative; font-size: 11px; line-height: 14px; text-align: center; color: #000 !important;}
.shipment-status-list li a:hover{border: #a1a1a1 1px solid;}
.shipment-status-list li a img{display: block; margin: 3px auto 0;}
.shipment-status-list li a .badge{position: absolute; top: -5px; right: -5px; font-size: 10px !important; line-height: 11px !important; font-weight: 400; color: #fff !important;}
.shipment-status-list li a.booked .badge{background-color: #45b6af !important;}
.shipment-status-list li a.dispatched .badge{background-color: #f3565d !important;}
.shipment-status-list li a.transit .badge{background-color: #89c4f4 !important;}
.shipment-status-list li a.out-delivery .badge{background-color: #8e44ad !important;}
.shipment-status-list li a.delivered .badge{background-color: #35aa47 !important;}
.shipment-status-list li a.quote .badge{background-color: #45b6af !important;}
.shipment-status-list li a.waiting .badge{background-color: #95a5a6 !important;}


.edi-block h2{background: url('../images/edi-icon.png') 0 0 no-repeat;}
.edi-block h3{font-size: 14px; line-height: 14px; color: #000; font-weight: 400; margin: 0 0 5px;}
.edi-block label{font-weight: 400 !important;}
.edi-block .radio-cont{padding-bottom: 20px;}
.edi-block .radio-cont input{margin-top:3px;}

.resp-block{padding-bottom: 10px; padding-top: 5px}
.resp-block label{font-size: 14px; line-height: 14px;}

.support-team button{border: none; margin-top: 10px;}
.support-team .btn-default:hover, 
.support-team .btn-default:focus, 
.support-team .btn-default.focus, 
.support-team .btn-default:active, 
.support-team .btn-default.active, 
.support-team .open > .dropdown-toggle.btn-default{background-color: #fff !important;}
.support-team .dropdown-menu li a span{font-weight: 600;}
.support-team .dropdown-menu li a span.status{display: inline-block; width: 15px; height: 15px; border-radius: 10px; margin: 2px 0 0 10px;}
.support-team .dropdown-menu li a span.status.active{background-color: #85d27a;}


.filter-block h3{font-size: 18px; line-height: 20px; color: #0b9dc9; font-weight: 600; float: left; text-transform: uppercase; margin:0; padding-top: 10px;}
.filter-block ul{float: left; list-style: none; padding: 0;}
.filter-block ul li{display: inline-block; padding-top: 10px; padding-left: 40px;}
.filter-block ul li span{color: #898989;}
.filter-block ul li span.glyphicon{font-size: 12px;}
.filter-block ul li a{color: #898989;}
.list-group-item.active a {background: #D3D3D3;}

.ui-multiselect-header a,
.ui-multiselect-checkboxes label{font-weight: 400 !important;}

.modal-backdrop{width: 100%; height: 100%;}

.ui-multiselect{width: 100% !important;}
.ui-multiselect-checkboxes label input{margin-right: 10px;}


/* Contracts Style */
.leftnavbar-wrapper .lanes_block h2,
.leftnavbar-wrapper .contract_block h2,
.leftnavbar-wrapper .expiring_contracts h2{padding-left:0 !important;}
.leftnavbar-wrapper .lanes_block.no_bord{border-bottom: none;}
.leftnavbar-wrapper .contract_block .form-group label{font-weight: 400; display: block;}
.leftnavbar-wrapper .contract_block .form-group label.topPad10{padding-top: 10px;}
.leftnavbar-wrapper .contract_block .form-group label.radio-inline{display: inline-block !important;}

.lancecount_table td{border:none !important; padding-left:0 !important; font-size:14px !important;}
.lancecount_table td a{text-decoration:underline !important;}
.lancecount_table td a:hover{text-decoration:none !important;}
.lancecount_table td button{font-size:12px !important; width:75px !important; height:22px; padding:0 10px !important; background: linear-gradient(#4e95d5, #2f6ca3);}
.lancecount_table td button:hover{background: linear-gradient(#2f6ca3, #4e95d5);}
.lancecount_table td .dropdown-menu{left:-150% !important; min-width:180px;}
.lancecount_table td .dropdown-menu li{border-top:#efefef 1px solid;}
.lancecount_table td .dropdown-menu li:first-child{border:none;}
.lancecount_table td .dropdown-menu li a{text-decoration:none !important; padding-left:45px; padding-top:10px; padding-bottom:10px;}
.lancecount_table td .dropdown-menu li a:hover{background-color:#ececec !important;}
.lancecount_table td .dropdown-menu li a.contract{background:url(../images/career-contracts-icon.png) 10px 50% no-repeat;}
.lancecount_table td .dropdown-menu li a.fuel{background:url(../images/career-fuel-icon.png) 10px 50% no-repeat;}
.lancecount_table td .dropdown-menu li a.services{background:url(../images/career-services-icon.png) 10px 50% no-repeat;}

.contract_block label{font-size:14px;}
.contract_block .checkbox input{margin-top:3px !important;}
.contract_block .filter-date{border:none; padding-top:0;}

.expiring_contracts .dropdown{margin:0 20px;}
.expiring_contracts .dropdown button{font-size:14px !important; width:200px !important; height:32px; padding:0 10px !important; background: linear-gradient(#4e95d5, #2f6ca3);}
.expiring_contracts .dropdown button:hover{background: linear-gradient(#2f6ca3, #4e95d5);}
.expiring_contracts .dropdown .dropdown-menu{top: -125px !important;}
.expiring_contracts .dropdown .dropdown-menu li{padding:0 15px;}
.expiring_contracts .dropdown .dropdown-menu li .checkbox{margin:0;}
.expiring_contracts .dropdown .dropdown-menu li .checkbox label{color:#000;}
.expiring_contracts .dropdown .dropdown-menu li .checkbox.all label{font-weight:600;}
.expiring_contracts .dropdown .dropdown-menu li .checkbox input{margin-top:7px !important;}

.add-contract-btn{font-size:18px !important; width:200px !important; height:44px; padding:0 10px !important; font-weight:600; background: linear-gradient(#5bb55b, #419643); border:#408f3c 1px solid;}
.add-contract-btn:hover{background: linear-gradient(#419643, #5bb55b);}

.contract_table{background-color:#fff; border-radius:5px; box-shadow:-1px -1px 6px #ddd; margin-bottom:20px; padding:20px; min-height:675px;}

.contract_buttons{padding-bottom:10px;}
.contract_buttons .delete_button{font-size: 12px; width:68px; line-height: 26px; height: 26px; padding: 0 5px !important; background: linear-gradient(#fefefe, #e6e6e6); color: #000; border: #b8b8b8 1px solid;}
.contract_buttons .delete_button:hover{background: linear-gradient(#e6e6e6, #fefefe);}
.contract_buttons .delete_button span{display: inline-block; width: 14px; height:14px; margin: 6px 4px 0 0; float: left; background: url('../images/minus-icon.png') 0 0 no-repeat;}

.contract_buttons .right_buttons{text-align:right;}
.contract_buttons .right_buttons button{margin-left:15px;}
.contract_buttons .map_view{font-size: 14px; width:110px; line-height: 32px; height: 32px; padding: 0 10px !important; background: linear-gradient(#fefefe, #e6e6e6); color: #000; border: #b8b8b8 1px solid;}
.contract_buttons .map_view:hover{background: linear-gradient(#e6e6e6, #fefefe);}
.contract_buttons .map_view span{display: inline-block; width: 15px; height:20px; margin: 5px 4px 0 0; float: left; background:url(../images/map_view_icon.png) 0 0 no-repeat;}
.contract_buttons .download_excel{font-size: 14px; width:180px; line-height: 32px; height: 32px; padding: 0 10px !important; background: linear-gradient(#4e95d5, #2f6ca3); border: #2a669a 1px solid;}
.contract_buttons .download_excel:hover{background: linear-gradient(#2f6ca3, #4e95d5);}
.contract_buttons .download_excel span{display: inline-block; width: 15px; height:20px; margin: 7px 4px 0 0; float: left; background:url(../images/download_excel_icon.png) 0 0 no-repeat;}

.contract_table .table-responsive{border:none !important;}
.contract_table table{border-top:#ddd 1px solid; border-left:#ddd 1px solid; font-size:14px !important;}
.contract_table table th{border-bottom:#ddd 1px solid; border-right:#ddd 1px solid; padding:5px 10px; background-color:#f6f6f6; font-size:14px !important;}
.contract_table table td{border-bottom:#ddd 1px solid !important; border-right :#ddd 1px solid !important; padding:5px 10px; font-size:14px !important;}
.contract_table .tab-hld .table-responsive table th,
.contract_table .tab-hld .table-responsive table td{border-bottom:#ddd 1px solid !important; border-right :#ddd 1px solid !important; padding:8px !important;}
.contract_table .tab-hld .table-responsive table th{font-weight:600 !important;}
.contract_table .tab-hld .table-responsive table th.first,
.contract_table .tab-hld .table-responsive table td.first{width: 4%; text-align:center !important;}
.contract_table .tab-hld .table-responsive table th.second{width:5%;}
.contract_table .tab-hld .table-responsive table th label,
.contract_table .tab-hld .table-responsive table td label{width:40%;}
.contract_table .tab-hld .table-responsive table th .checkbox,
.contract_table .tab-hld .table-responsive table td .checkbox{width:40%; margin:0 auto;}
.contract_table table tr.selected td{background-color:#eef6fe;}
.contract_table table .checkbox{text-align:center;}
.contract_table table .checkbox input{margin-top:5px;}
.contract_table table .delete_button,
.contract_table table .edit_button{font-size: 12px; width:68px; line-height: 26px; height: 26px; padding: 0 5px !important; background: linear-gradient(#fefefe, #e6e6e6); color: #000; border: #b8b8b8 1px solid;}
.contract_table table .edit_button{width:55px;}
.contract_table table .delete_button:hover,
.contract_table table .edit_button:hover{background: linear-gradient(#e6e6e6, #fefefe);}
.contract_table table .delete_button span{display: inline-block; width: 14px; height:14px; margin: 6px 4px 0 0; float: left; background: url('../images/minus-icon.png') 0 0 no-repeat;}
.contract_table table .edit_button span{display: inline-block; width: 14px; height:14px; margin: 6px 4px 0 0; float: left; background:url(../images/edi-icon1.png) 0 0 no-repeat;}

.contract_table h2{font-size:24px; line-height:28px; font-weight:600; margin:0 0 15px;}
.contract_table .new_contract_top .contract_left{}
.contract_table .new_contract_top .contract_left .contract_left_inner{border:#d4d4d4 1px solid; margin-top:30px;}
.contract_table .new_contract_top .contract_left .contract_left_top{padding:16px; overflow:hidden;}
.contract_table .new_contract_top .contract_left .contract_left_top img{float:left; width: 35%;}
.contract_table .new_contract_top .contract_left .contract_left_top p{float:right; width:60%; font-size:14px; line-height:18px; color:#000; padding:15px 0 0;}
.contract_table .new_contract_top .contract_left .contract_left_top p strong{font-size:18px; font-weight:600; display:block;}
.contract_table .new_contract_top .contract_left .contract_left_bottom{padding:16px; background-color:#d9edf7; text-align:center;}
.contract_table .new_contract_top .contract_left .contract_left_bottom p{font-size:14px; line-height:24px; color:#000; padding:0;}
.contract_table .new_contract_top .contract_left .contract_left_bottom p strong{font-size:18px; font-weight:600; display:block; padding-bottom:10px;}
.contract_table .new_contract_top .contract_left .contract_left_bottom p a{color:#000;}
.contract_table .new_contract_top .contract_left .contract_left_bottom p a:hover{text-decoration:underline;}
.contract_table .new_contract_top .contract_right h3{font-size:14px; line-height:24px; font-weight:600; color:#000; margin:0 0 5px;}
.contract_table .new_contract_top .contract_right img{margin-bottom:5px;}
.contract_table .new_contract_top .contract_right a{text-decoration:underline;}
.contract_table .new_contract_top .contract_right a:hover{text-decoration:none;}

.contract_table .tab-content .row{padding-top: 10px; padding-bottom: 10px;}
.contract_table .tab-content label{font-size: 14px; font-weight: 400; display: block;}
.contract_table .tab-content label.checkbox-inline,
.contract_table .tab-content label.radio-inline{display: inline-block;}
.contract_table .tab-content label.checkbox-inline{padding-top: 7px;}
.contract_table .tab-content label.checkbox-inline input{margin-top: 3px;}
.contract_table .tab-content label.radio-inline{padding-top: 7px;}
.contract_table .tab-content label.radio-inline input{margin-top: 3px;}
.contract_table .tab-content .zone p{padding: 30px 0 0;}
.contract_table .tab-content .zone p a{color: #000; text-decoration: underline;}
.contract_table .tab-content .zone p a:hover{text-decoration: none;}
.contract_table .tab-content .discount .form-group{width: 31%; float: left; padding-right: 20px;}
.contract_table .tab-content .discount .mile_range .form-group{width: 48%;}
.contract_table .tab-content .discount .mile_range .form-group .second{margin-top: 25px;}
.contract_table .tab-content .weight_range .form-group{width: 50%; float: left; padding-right: 10px;}
.contract_table .tab-content .weight_range .form-group .second{margin-top: 25px;}
.contract_table .filter-date label{line-height: 20px; color: #000;}
.contract_table .filter-date{padding: 0; border: none;}
.contract_table .fak label{float: left; padding-right: 10px; padding-top: 30px;}
.contract_table .fak .form-group{width: 5%; float: left; padding-right: 10px; text-align: center;}
.contract_table .fak .form-group label{float: none; padding: 0;}
.contract_table .effect_date .form-group{width: 22%; float: left; padding-right: 10px;}
.contract_table .effect_date .form-group .second{margin-top: 25px;}
.contract_table .effect_date .radio-inline{margin-top: 25px;}

.contract_table .upload_rate button{font-size:14px !important; height:32px; padding:0 10px !important; background: linear-gradient(#4e95d5, #2f6ca3); display: block; margin-bottom: 20px;}
.contract_table .upload_rate button:hover{background: linear-gradient(#2f6ca3, #4e95d5);}
.contract_table .upload_rate button span{display: inline-block; width: 22px; height: 22px; background:url(../images/download_button_icon.png) 0 0 no-repeat; float: left; margin-right: 10x;}
.contract_table .upload_rate p{padding-bottom:30px;}
.contract_table .upload_rate p strong{font-weight:600;}
.contract_table .upload_rate a{display: inline-block; width: 44px; height: 19px; margin: 15px 0 0 10px; position: relative; top: 5px;}
.contract_table .upload_rate a.on{background: url('../images/on-button.png') 0 0 no-repeat;}
.contract_table .upload_rate a.on.off{background: url('../images/off-button.png') 0 0 no-repeat !important;}
.contract_table .upload_rate .inputuploadhld{display:block; overflow:hidden; padding-top: 40px; padding-bottom: 80px;}
.contract_table .upload_rate .inputuploadhld input{float: left; width: 60%;}
.contract_table .upload_rate .inputuploadhld button{float: right; font-size: 12px; line-height: 24px; height: 24px; padding-top: 0 15px; background: linear-gradient(#418fcf, #2f6ca3); color: #fff; border: #246a9b 1px solid; padding: 0 10px;}
.contract_table .upload_rate .inputuploadhld button:hover{background: linear-gradient(#2f6ca3, #418fcf); color: #fff !important; border: #246a9b 1px solid !important;}


.contract_table .schedule{width:75%; float:left; border:#898989 1px solid; padding:15px;}
.contract_table .schedule h3{font-size:18px; line-height:24px; font-weight:600; color:#545454; padding-bottom:10px; margin:0;} 
.contract_table .schedule .table-responsive table{border:none !important; border-bottom: none !important; border-right: none !important;}
.contract_table .schedule .table-responsive table td{border:none !important; border-left:#fff 2px solid !important; border-bottom: none !important; border-right: none !important;}
.contract_table .schedule .table-responsive table td.one{background-color:#ffffa7;}
.contract_table .schedule .table-responsive table td.two{background-color:#b4f57d;}
.contract_table .schedule .table-responsive table td.three{background-color:#79de78;}
.contract_table .schedule .table-responsive table td.four{background-color:#6fbfb2;}
.contract_table .schedule .table-responsive table td.five{background-color:#688db9;}
.contract_table .schedule .table-responsive table td.six{background-color:#585aa4;}
.contract_table .schedule_logo{float:right;}
.contract_table .schedule_map{padding-top:30px; clear:both;}
.contract_table .global_area{background-color:#f0f0f0; padding:20px; border-radius:5px;}
.contract_table .global_area h3{font-size:18px; line-height:24px; font-weight:600; color:#545454; padding-bottom:30px; margin:0;} 


/* Load Entry */
.content-wrapper.full-width{margin-left: 0; margin-top: 135px;}
.load_entry{background-color:#fff; border-radius:5px; box-shadow:-1px -1px 6px #ddd; margin-bottom:20px; padding:20px;}
.load_entry_top{padding-bottom: 40px;}
.load_entry_top .book_id p{text-align: center; padding: 40px 0;}
.load_entry_top .book_id p span{font-size: 60px; line-height: 64px; color: #ff6c60; display: block;}
.load_entry_top .mid_row .mid_row_inner{background-color: #f4f4f4; padding: 50px 20px; overflow: hidden; border-radius: 5px;}
.load_entry_top .mid_row .mid_row_inner label{font-weight: 400;}
.load_entry_top .mid_row .mid_row_inner .form-group{width: 19%; float: left; padding-right: 15px;}
.load_entry_top .mid_row .mid_row_inner .input-group{width:24%; float:right; padding-top: 25px;}
.load_entry_top .mid_row .mid_row_inner .input-group .form-control{ padding:5px 12px; height:35px;}
.load_entry_top .mid_row .mid_row_inner .input-group-btn .btn-default{padding:5px 12px; height:35px; background:#0b9dc9; color:#fff;}
.load_entry_top .credit_limit .credit_limit_inner{background-color: #f4f4f4; padding: 24px 20px; overflow: hidden; border-radius: 5px;}
.load_entry_top .credit_limit .credit_limit_inner h3{text-align: center; font-size: 24px; font-weight: 400; margin-bottom: 20px;}
.load_entry_top .credit_limit .credit_limit_inner .progress{background-color: #c5c5c5; border-radius: 10px; box-shadow: none;}
.load_entry_top .credit_limit .credit_limit_inner .progress .progress-bar{background-color: #ff6c60; border-radius: 10px;}
.load_entry_top .credit_limit .credit_limit_inner p{text-align: center;}
.load_entry_top .credit_limit .credit_limit_inner p span{color: #848484;}

.load_entry_mid .mid_box{border: #ececec 2px solid; border-radius: 10px;}
.load_entry_mid .mid_box .mid_box_head{padding:20px 15px; background-color: #f5f5f5; overflow: hidden;}
.load_entry_mid .mid_box .mid_box_head h3{margin: 0; float: left;}
.load_entry_mid .mid_box .mid_box_head button{float: right; font-size: 12px !important; line-height: 24px; height: 24px; padding-top: 0 15px; background: linear-gradient(#418fcf, #2f6ca3); color: #fff; border: #246a9b 1px solid; padding: 0 10px; width: 105px !important;}
.load_entry_mid .mid_box .mid_box_head button:hover{background: linear-gradient(#2f6ca3, #418fcf); color: #fff !important; border: #246a9b 1px solid !important;}
.load_entry_mid .mid_box .mid_box_body{padding:15px;}
.load_entry_mid .mid_box .mid_box_body label{font-weight: 400;}
.load_entry_mid .mid_box .mid_box_body .input-group{width:100%; padding-bottom: 15px;}
.load_entry_mid .mid_box .mid_box_body .input-group .form-control{ padding:5px 12px; height:35px;}
.load_entry_mid .mid_box .mid_box_body .input-group-btn .btn-default{padding:5px 12px; height:35px; background:#0b9dc9; color:#fff;}
.load_entry_mid .mid_box .mid_box_body .inner_row{overflow: hidden;}
.load_entry_mid .mid_box .mid_box_body .inner_row .form-group{width: 30.7%; float: left; margin-right: 15px;}
.load_entry_mid .mid_box .mid_box_body .inner_row .form-group.last{margin: 0;}
.load_entry_mid .mid_box .mid_box_body .inner_row1{overflow: hidden;}
.load_entry_mid .mid_box .mid_box_body .inner_row1 .form-group{width: 26%; float: left; margin-right: 15px;}
.load_entry_mid .mid_box .mid_box_body .inner_row1 .form-group.filter-date{border: none; padding-top: 0; width: 40%;}
.load_entry_mid .mid_box .mid_box_body .inner_row1 .form-group.last{margin: 0;}

.load_entry_mid{padding-bottom: 40px;}
.load_entry_mid .violet_box{margin-top: 15px;}
.load_entry_mid .violet_box:first-child{margin-top: 0;}
.load_entry_mid .violet_box h3{padding: 10px 20px; font-size: 24px; line-height: 26px; color: #fff; font-weight: 600; background-color: #8175c7 !important; border-radius: 10px 10px 0 0; margin: 0;}
.load_entry_mid .violet_box h3.icon{background:url(../images/violet_box_icon.png) 0 0 no-repeat; padding-left: 50px !important;}
.load_entry_mid .violet_box .violet_body{background-color: #f4f4f4; border: #e3e3e3 1px solid; border-top: none; padding: 20px; overflow: hidden; border-radius: 0 0 10px 10px;}
.load_entry_mid .violet_box .violet_body ul{list-style: none; padding: 0; margin: 0;}
.load_entry_mid .violet_box .violet_body ul li{padding-bottom: 3px;}
.load_entry_mid .violet_box .violet_body a{color: #3e85c2; text-decoration: underline;}
.load_entry_mid .violet_box .violet_body a:hover{text-decoration: none;}
.load_entry_mid .violet_box .violet_body .checkbox{margin: 0 0 5px;}
.load_entry_mid .violet_box .violet_body .checkbox input{margin-top: 3px;}
.load_entry_mid .violet_box .violet_body .form-group{margin: 10px 0 5px; width: 50%; float: left; padding-right: 10px;}
.load_entry_mid .violet_box .violet_body .form-group.last{padding-right: 0;}
.load_entry_mid .violet_box .violet_body label{font-weight: 400;}

.add_stop{border: #ececec 2px solid; border-radius: 10px; margin-bottom: 50px;}
.add_stop h3{font-size: 24px; list-style: 28px; font-weight: 600; color: #545454; margin: 0; padding: 10px 20px; background-color: #f5f5f5;}
.add_stop h3 a{background: url('../images/plus-minus.png') 0 100% no-repeat; display: block; width: 30px; height: 30px; font-size: 0; line-height: 0; text-indent: -2000px; float: right; margin:0;}
.add_stop h3 a.collapsed{background-position:0 0;}
.add_stop .table-responsive{padding: 15px 0;}
.add_stop .table-responsive table th{border: none !important; text-align: left !important; font-size: 14px !important; line-height: 14px !important; color: #000 !important; text-transform: none !important; font-weight: 400 !important; width: 10%;} 
.add_stop .table-responsive table td{border: none !important; padding-top: 0 !important;}
.add_stop .table-responsive table td.first{width: 20%;}
.add_stop .table-responsive table td .form-group{margin:0 !important;}
.add_stop .table-responsive table td .input-group{width:100%;}
.add_stop .table-responsive table td .input-group .form-control{ padding:5px 12px; height:35px;}
.add_stop .table-responsive table td .input-group-btn .btn-default{padding:5px 12px; height:35px; background:#0b9dc9; color:#fff;}
.add_stop .table-responsive table td button.delete{font-size: 12px;width:68px; line-height: 26px; height: 26px; padding: 0 5px !important; background: linear-gradient(#fefefe, #e6e6e6); color: #000; border: #b8b8b8 1px solid; text-align: left;}
.add_stop .table-responsive table td button.delete span{display: inline-block; width: 14px; height:14px; margin: 6px 4px 0 0; float: left;}
.add_stop .table-responsive table td button.delete span.minus{background: url('../images/minus-icon.png') 0 0 no-repeat;}
.add_stop .table-responsive table td button.delete span.plus{background: url('../images/plus-icon.png') 0 0 no-repeat;}


.shipping_product{margin-bottom: 50px;}
.shipping_product_inner{background-color: #e9e9e9; padding: 15px 0;}
.shipping_product h3{font-size: 24px; list-style: 28px; font-weight: 600; color: #545454; margin: 0; padding: 10px 0;}
.shipping_product .table-responsive{padding: 15px 0;}
.shipping_product .table-responsive table th{border: none !important; text-align: left !important; font-size: 14px !important; line-height: 14px !important; color: #000 !important; text-transform: none !important; font-weight: 400 !important; width: 10%;} 
.shipping_product .table-responsive table td{border: none !important; padding-top: 0 !important;}
.shipping_product .table-responsive table td .form-group{margin:0 !important;}
.shipping_product .table-responsive table td.type{width: 12%;}
.shipping_product .table-responsive table td.diamention_cont{width: 20%;}
.shipping_product .table-responsive table td .diamention .form-control{width: 30%; float: left; margin-right: 5px;}
.shipping_product .table-responsive table td .diamention .form-control.last{margin: 0;}
.shipping_product .table-responsive table td button.delete{font-size: 12px;width:68px; line-height: 26px; height: 26px; padding: 0 5px !important; background: linear-gradient(#fefefe, #e6e6e6); color: #000; border: #b8b8b8 1px solid; text-align: left;}
.shipping_product .table-responsive table td button.delete span{display: inline-block; width: 14px; height:14px; margin: 6px 4px 0 0; float: left;}
.shipping_product .table-responsive table td button.delete span.minus{background: url('../images/minus-icon.png') 0 0 no-repeat;}
.shipping_product .table-responsive table td button.delete span.plus{background: url('../images/plus-icon.png') 0 0 no-repeat;}
.shipping_product .accessorial h3{padding: 10px 20px; font-size: 18px; line-height: 24px; color: #fff; font-weight: 600; background-color: #8175c7 !important; border-radius: 10px 10px 0 0; margin: 0;}
.shipping_product .accessorial .accessorial_body{background-color: #fff; padding: 20px; overflow: hidden; border-radius: 0 0 10px 10px;}
.shipping_product .accessorial .accessorial_body input{margin-top:3px;}

.tab-hld .table-responsive{padding: 15px 0;}
.tab-hld .table-responsive table th{border: none !important; text-align: left !important; font-size: 14px !important; line-height: 14px !important; color: #000 !important; text-transform: none !important; font-weight: 400 !important; width: 10%;} 
.tab-hld .table-responsive table td{border: none !important; padding-top: 0 !important;}
.tab-hld .table-responsive table td .form-group{margin:0 !important;}
.tab-hld .table-responsive table td.type{width: 12%;}
.tab-hld .table-responsive table td.diamention{width: 20%;}
.tab-hld .table-responsive table td.diamention .form-control{width: 30%; float: left; margin-right: 5px;}
.tab-hld .table-responsive table td.diamention .form-control.last{margin: 0;}
.tab-hld .table-responsive table td button.delete{font-size: 12px;width:68px; line-height: 26px; height: 26px; padding: 0 5px !important; background: linear-gradient(#fefefe, #e6e6e6); color: #000; border: #b8b8b8 1px solid; text-align: left;}
.tab-hld .table-responsive table td button.delete span{display: inline-block; width: 14px; height:14px; margin: 6px 4px 0 0; float: left;}
.tab-hld .table-responsive table td button.delete span.minus{background: url('../images/minus-icon.png') 0 0 no-repeat;}
.tab-hld .table-responsive table td button.delete span.plus{background: url('../images/plus-icon.png') 0 0 no-repeat;}
.tab-hld .table-responsive table tfoot td{font-size: 24px; line-height: 28px;}
.tab-hld .table-responsive table tfoot td.total{background-color:#f5f5f5; border-top:#ececec 1px solid; border-bottom:#ececec 1px solid;}
.tab-hld .table-responsive table tfoot td .amount{font-size: 48px; line-height: 60px; font-weight: 600; color: #ff6c60;}
.tab-hld .table-responsive table tfoot td .up{font-size: 18px; line-height: 24px; display: inline-block; background: url('../images/up-arrow.png') 0 70% no-repeat; padding-left: 30px;}
.tab-hld .gray-box{border:#e9e9e9 2px solid; border-radius: 10px; background-color:#f4f4f4;}
.tab-hld .gray-box h3{padding: 10px 20px; font-size: 18px; line-height: 24px; color: #fff; font-weight: 400; background-color: #8175c7 !important; margin: 0;}
.tab-hld .gray-box h3 strong{font-weight:600;}
.tab-hld .gray-box .gray_body{padding: 20px; overflow: hidden;}
.tab-hld .gray-box .gray_body .form-group label{font-weight:400;}
.tab-hld .gray-box .gray_body .form-group{width:47%; float:left; margin-right:20px;}
.tab-hld .gray-box .gray_body .form-group.last{margin:0;}
.tab-hld .commission .form-group label{font-weight:400; display:block;}
.tab-hld .commission .form-group input{width:50%; margin-right:20px; display:inline-block;}
.tab-hld .commission .form-group .com_amount{font-size:30px; line-height:34px;}


.service_logo{font-size:18px; font-weight:600;}


/* Map Carrier */
.map_carrier{background-color:#fff; border-radius:5px; box-shadow:-1px -1px 6px #ddd; margin-bottom:20px; padding:20px;}

.map_carrier_top{padding-bottom:50px;}
.map_carrier_top h3{margin:0; font-weight:600; padding:0 0 30px 10px;}
.map_carrier_top .map_carrier_top_box{background-color:#f4f4f4; border-radius:5px; padding:20px;}
.map_carrier_top .map_carrier_top_box .form-group{overflow:hidden; margin-bottom:30px;}
.map_carrier_top .map_carrier_top_box label{display:block; font-size:18px; line-height:14px; color:#111; font-weight:400; padding-bottom:5px;}
.map_carrier_top .map_carrier_top_box input{height:46px; float:left; width:70%;}
.map_carrier_top .map_carrier_top_box button{float:right; height:46px; font-size:18px !important; font-weight:400; background: linear-gradient(#5bb55b, #419643); border:#408f3c 1px solid;}
.map_carrier_top .map_carrier_top_box button:hover{background: linear-gradient(#419643, #5bb55b);}
.map_carrier_top .map_carrier_top_box.text-center p{font-size:14px; line-height:18px; color:#898989; padding:30px 0 15px;}
.map_carrier_top .map_carrier_top_box.text-center button{float:none; height:28px; font-size:14px !important; line-height:14px; margin-bottom:10px;}

.map_carrier_bottom{}
.map_carrier_bottom .map_carrier_bottom_box{border-radius:5px; border:#ececec 2px solid;}
.map_carrier_bottom .map_carrier_bottom_box .top_links{background-color:#f5f5f5; height:28px; border-bottom:#fff 1px solid; padding:0 15px; border-radius: 5px 5px 0 0;}
.map_carrier_bottom .map_carrier_bottom_box .top_links ul{margin:0; list-style:none;}
.map_carrier_bottom .map_carrier_bottom_box .top_links ul li{float:right; margin-left:5px;}
.map_carrier_bottom .map_carrier_bottom_box .top_links ul li a{display:block; width:20px; height:28px; font-size:0; line-height:0; text-indent:-2000px;}
.map_carrier_bottom .map_carrier_bottom_box .top_links ul li a.save{background:url(../images/save-icon.png) 50% 50% no-repeat;}
.map_carrier_bottom .map_carrier_bottom_box .top_links ul li a.save:hover{background:url(../images/save-icon-hover.png) 50% 50% no-repeat;}
.map_carrier_bottom .map_carrier_bottom_box .top_links ul li a.delete{background:url(../images/delete-icon.png) 50% 50% no-repeat;}
.map_carrier_bottom .map_carrier_bottom_box .top_links ul li a.delete:hover{background:url(../images/delete-icon-hover.png) 50% 50% no-repeat;}
.map_carrier_bottom .map_carrier_bottom_box .top_links ul li a.edit{background:url(../images/edit-icon.png) 50% 50% no-repeat;}
.map_carrier_bottom .map_carrier_bottom_box .top_links ul li a.edit:hover{background:url(../images/edit-icon-hover.png) 50% 50% no-repeat;}
.map_carrier_bottom .map_carrier_bottom_box .carrier_info{background-color:#f9f9f9; padding:20px; overflow:hidden;}
.map_carrier_bottom .map_carrier_bottom_box .carrier_info .logo{width:30%; float:left; text-align:right;}
.map_carrier_bottom .map_carrier_bottom_box .carrier_info .logo img{max-width:100%; display:inline-block;}
.map_carrier_bottom .map_carrier_bottom_box .carrier_info .address{width:65%; float:right;}
.map_carrier_bottom .map_carrier_bottom_box .carrier_info .address p{padding-bottom:20px;}
.map_carrier_bottom .map_carrier_bottom_box .carrier_info .address p span{display:block; font-size:18px; font-weight:600;}
.map_carrier_bottom .map_carrier_bottom_box .carrier_info .address p strong{font-weight:600;}
.map_carrier_bottom .map_carrier_bottom_box .carrier_info .address p.api{padding:0 0 0 40px; background:url(../images/api-icon.png) 0 0 no-repeat; font-weight:600; line-height:23px;}
.map_carrier_bottom .map_carrier_bottom_box .contact_info{padding:20px;}
.map_carrier_bottom .map_carrier_bottom_box .contact_info h3{margin:0; padding:0 0 25px; font-size:18px; font-weight:600; color:#545454; border: none !important;}
.map_carrier_bottom .map_carrier_bottom_box .contact_info .form-group label{font-weight:400;}


/* Setup Connectivity */
.setup_connectivity h2{font-size:18px; font-weight:400; margin:0; padding:0 0 20px; color:#898989;}
.setup_connectivity h2 span{color:#111;}
.setup_connectivity .connectivity_box{border-radius:5px; border:#ececec 2px solid;}
.setup_connectivity .connectivity_box .logo_cont{background-color:#f5f5f5; padding:15px; border-bottom:#ececec 1px solid; border-radius: 5px 5px 0 0; text-align:center; position:relative;}
.setup_connectivity .connectivity_box .logo_cont .logo{height:58px; padding:0; margin: 0 auto;}
.setup_connectivity .connectivity_box .logo_cont h3{font-size:18px; margin:15px 0 0; color:#000; font-weight:600;}
.setup_connectivity .connectivity_box .logo_cont .help{position:absolute; top:5px; right:5px; display:block; background:url(../images/help-icon.png) 0 2px no-repeat; display: block; width: 17px; height: 17px; font-size:0; line-height:0; text-indent: -2000px;}
.setup_connectivity .connectivity_box .connection_status{padding:25px 15px; overflow:hidden; text-align:center;}
.setup_connectivity .connectivity_box .connection_status button{border:#2a669a 1px solid; background: linear-gradient(#4289c7, #2d6da2); margin:0 3px 30px; padding: 6px 7px !important;}
.setup_connectivity .connectivity_box .connection_status button:hover{background: linear-gradient(#2d6da2, #4289c7);}
.setup_connectivity .connectivity_box .connection_status button.rate span{display:block; float:left; margin-right:5px; width:18px; height:18px; background:url(../images/rate-icon.png) 50% 50% no-repeat;}
.setup_connectivity .connectivity_box .connection_status button.setapi span{display:block; float:left; margin-right:5px; width:18px; height:18px; background:url(../images/setapi-icon.png) 50% 50% no-repeat;}
.setup_connectivity .connectivity_box .connection_status p{display:inline-block; font-size:18px; line-height:30px; font-weight:600; color:#545454; background:url(../images/connection-status-icon.png) 100% 0 no-repeat; padding:0 45px 0 0;}


/* Carrier Onboard */
.leftnavbar-wrapper .input-group{width:100%;}
.leftnavbar-wrapper .input-group .form-control{ padding:5px 12px; height:40px;}
.leftnavbar-wrapper .input-group-btn .btn-default{padding:5px 12px; height:40px; background:#0b9dc9; color:#fff;}
.leftnavbar-wrapper .eq-type h2{background:url(../images/eq-type-icon.png) 0 0 no-repeat; line-height: 30px;}
.leftnavbar-wrapper .service-area{border-bottom: none;}
.leftnavbar-wrapper .service-area h2{background:url(../images/service-area-icon.png) 0 0 no-repeat;}
.leftnavbar-wrapper .service-area label{font-weight: 400;}

.carrier-tab h3{font-size: 18px; line-height: 24px; font-weight: 600; color: #545454; margin-bottom: 30px;}
.carrier-tab .row .form-group{margin: 0 0 15px; overflow: hidden;}
.carrier-tab .row .filter-date{margin: 0 0 15px;}
.carrier-tab .row .form-group button{height:28px; font-size:14px !important; line-height: 14px; font-weight:400; background: linear-gradient(#4087c5, #2d6ca2); border:#2d6797 1px solid; margin-top: 25px;}
.carrier-tab .row .form-group button:hover{background: linear-gradient(#2d6ca2, #4087c5);}
.carrier-tab .state_cont{overflow: hidden;}
.carrier-tab .state_cont .form-group{width: 30%; float: left; margin-right: 10px;}
.carrier-tab .state_cont .form-group.last{margin-right: 0;}
.carrier-tab .checkbox{float: right; margin-top: 20px; width: 50%;}
.carrier-tab .checkbox input{margin-top: 3px;}
.carrier-tab .row .form-group.vackent{height: 69px;}

.origin-country select{margin-bottom: 15px;}


/* Setup API */
.setup_top{}
.setup_top .setup_top_left{border:#d4d4d4 1px solid;}
.setup_top .setup_top_left .setup_left_top{padding:16px; overflow:hidden;}
.setup_top .setup_top_left .setup_left_top img{float:left; width: 35%;}
.setup_top .setup_top_left .setup_left_top p{float:right; width:60%; font-size:14px; line-height:18px; color:#000; padding:15px 0 0;}
.setup_top .setup_top_left .setup_left_top p strong{font-size:18px; font-weight:600; display:block;}
.setup_top .setup_top_left .setup_left_bottom{padding:16px; background-color:#d9edf7; text-align:center;}
.setup_top .setup_top_left .setup_left_bottom p{font-size:14px; line-height:24px; color:#000; padding:0;}
.setup_top .setup_top_left .setup_left_bottom p strong{font-size:18px; font-weight:600; display:block; padding-bottom:10px;}
.setup_top .setup_top_left .setup_left_bottom p a{color:#3e85c2;}
.setup_top .setup_top_left .setup_left_bottom p a:hover{text-decoration:underline;}

.setup_top .setup_top_right{}
.setup_top .setup_top_right .api_message{border-radius: 5px; margin-bottom: 20px; padding: 15px 15px 15px 50px; background:url(../images/api-icon1.png) 10px 15px no-repeat #d9edf7; display: inline-block; font-weight: 600;}
.setup_top .setup_top_right h4{font-weight: 18px; line-height: 24px; margin: 0; font-weight: 600;}
.setup_top .setup_top_right p{margin-bottom: 30px;}
.setup_top .setup_top_right p strong{font-weight: 600; display: block;}

.contract_api{font-size: 18px;}
.contract_api a{color:#3e85c2; text-decoration: underline;}
.contract_api a:hover{text-decoration: none;}

.account_type{overflow: hidden;}
.top_label{font-weight: 600 !important;}
.account_type .account_type_inner{width: 30%; float: left; margin-right: 20px;}
.account_type .account_type_inner .checkbox{float: none !important; margin-top: 0 !important;}

.api_gray{background-color: #f4f4f4; border-radius: 5px; padding: 10px;}

.connect_buttons{}
.connect_buttons p{padding-bottom: 30px;}
.connect_buttons button{height: 39px; font-size: 18px; margin: 0 3px;}
.connect_buttons .btn-default{background: linear-gradient(#fefefe, #e0e0e0); border:#ccc 1px solid; margin-left: 10px;}
.connect_buttons .btn-default:hover{background: linear-gradient(#e0e0e0, #fefefe);}
.connect_buttons .btn-primary{background: linear-gradient(#418ac9, #2e6da3); border:#2e6da3 1px solid; margin-right: 10px;}
.connect_buttons .btn-primary:hover{background: linear-gradient(#2e6da3, #418ac9);}

.bootstrap-tagsinput{border-radius: 0 !important; width: 100% !important; height: 35px !important;}
.bootstrap-tagsinput .label{background-color: #eee !important; color: #000 !important; font-weight: 400 !important;}
.bootstrap-tagsinput input{width: 100px !important;}



h2.resp-accordion{margin-bottom: 0 !important; font-size:13px !important;}
h2.resp-accordion:first-child{border-radius: 5px 5px 0 0;}
h2.resp-accordion:last-child{border-radius: 0 0 5px 5px !important; border: none !important;}


/* Quote */
.qoute_page .leftnavbar-wrapper .nav-col{ margin-top:470px;}
.qoute_page .content-wrapper{ position:inherit;}

.rate_test{ background:#fff; padding:18px 15px; margin-bottom:40px; width: 99.5%;}
.rate_test h3{margin:0 0 20px;}
.rate_test label{font-weight:400;}
.rate_test .block_rate_form form .form_block { margin-bottom:15px;}
.rate_test .block_rate_form label{ display:block;}
.rate_test .block_rate_form .form-group{ margin-right:3px;width: 37%;}
.rate_test .block_rate_form .checkbox{ margin: 4% 0 0 9px;}
.rate_test .block_rate_form .checkbox input[type="checkbox"]{ top:2px;}
.rate_test .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{font-size: 12px; padding:2px 5px;line-height: 1.42857143;}
.rate_test .table tr td{font-weight:400 !important;}
.rate_test .option_selector{ width:45%;}

.cust_btn{ padding:6px; margin-top: -20px;font-size: 12px;}
.table_calc_block .date-pick{ margin:0 0 10px 0px; float:right;}
.table_calc_block .date-pick .form-control{ margin:0 0 0px 10px;}
.table_calc_block .table{margin-bottom:0;}
.addRow{}


.rate_test .table-responsive table th{font-weight:400; font-size:14px !important;}
.rate_test .table-responsive table td{font-weight:400; font-size:14px;}
.rate_test .table-responsive table td .form-group{}
.rate_test .table-responsive table td button{font-size: 12px;width:68px; line-height: 26px; height: 26px; padding: 0 5px !important; background: linear-gradient(#fefefe, #e6e6e6); color: #000; border: #b8b8b8 1px solid; text-align: left; margin-bottom:15px;}
.rate_test .table-responsive table td button span{display: inline-block; width: 14px; height:14px; margin: 6px 4px 0 0; float: left;}
.rate_test .table-responsive table td button span.minus{background: url('../images/minus-icon.png') 0 0 no-repeat;}
.rate_test .table-responsive table td.total strong{display:block; font-size:24px; font-weight:600;}
.rate_test .table-responsive table td .download_excel{font-size: 18px; font-weight:600; width:180px; line-height: 44px; height: 44px; padding: 0 10px !important; background: linear-gradient(#4e95d5, #2f6ca3); border: #2a669a 1px solid; float:right; color:#fff; text-align:center; border-radius:7px;}
.rate_test .table-responsive table td .download_excel:hover{background: linear-gradient(#2f6ca3, #4e95d5);}
.rate_test .table-responsive table td .download_excel span{display:inline-block; width: 20px; height:20px; margin: 12px 4px 0 0; float: right; background:url(../images/search-icon.png) 0 0 no-repeat;}


.quote_cont{padding:20px; border-radius:5px; margin-bottom:5px; background-color:#e8edf4;}
.quote_cont.alt{background-color:#f2f6fa;}
.quote_cont:hover{background-color:#d9ecfd;}
.quote_cont .table-responsive table,
.quote_cont .table-responsive table th,
.quote_cont .table-responsive table td{border:none !important;}
.quote_cont .table-responsive table th{background-color:transparent; font-weight:600;}
.quote_cont .table-responsive table th.center{text-align:center !important;}
.quote_cont .table-responsive table td button{font-size: 12px; font-weight:400; line-height: 16px; height: 20px; padding: 0 5px !important; color:#fff; text-align:center; border-radius:2px;}
.quote_cont .table-responsive table td button.btn-primary{background: linear-gradient(#4e95d5, #2f6ca3); border: #2a669a 1px solid;}
.quote_cont .table-responsive table td button.btn-primary:hover{background: linear-gradient(#2f6ca3, #4e95d5);}
.quote_cont .table-responsive table td button.btn-success{background: linear-gradient(#72c66f, #43983d); border: #408f3e 1px solid;}
.quote_cont .table-responsive table td button.btn-success:hover{background: linear-gradient(#43983d, #72c66f);}
.quote_cont .table-responsive table td button.save-quote span{display:inline-block; width: 12px; height:12px; margin: 3px 4px 0 0; float: left; background:url(../images/save-quote-icon.png) 0 0 no-repeat;}
.quote_cont .table-responsive table td button.email-quote span{display:inline-block; width: 14px; height:12px; margin: 3px 4px 0 0; float: left; background:url(../images/email-quote-icon.png) 0 0 no-repeat;}
.quote_cont .table-responsive table td button.print-quote span{display:inline-block; width: 13px; height:13px; margin: 2px 4px 0 0; float: left; background:url(../images/print-quote-icon.png) 0 0 no-repeat;}
.quote_cont .table-responsive table td button.create-shipment span{display:inline-block; width: 16px; height:12px; margin: 3px 4px 0 0; float: left; background:url(../images/create-shipment-icon.png) 0 0 no-repeat;}
.quote_cont .table-responsive table td button.terminal-info span{display:inline-block; width: 14px; height:14px; margin: 1px 4px 0 0; float: left; background:url(../images/terminal-info-icon.png) 0 0 no-repeat;}
.quote_cont .table-responsive table td .box{text-align:center; padding:10px; border-radius:10px; color:#fff;}
.quote_cont .table-responsive table td .box strong{font-size:18px; font-weight:600; display:block;}
.quote_cont .table-responsive table td .box.garunted{background-color:#66b951; border:#58b03e 1px solid;}
.quote_cont .table-responsive table td .box.standard{background-color:#d1574c; border:#ce4a3e 1px solid;}


/* Invoice */
.invoice-right table td{padding: 10px !important;}
.invoice-right table td.nobotPad{padding-bottom: 0 !important; padding-left: 0 !important; padding-right: 0 !important;}
.invoice-right table td.status span{display: inline-block; line-height: 30px; color: #fff; padding:0 10px; background-color: #85d27a; border-radius: 5px;}
.invoice-right .first-row{padding-bottom: 30px;}
.invoice-right .first-row .panel-primary .panel-body{min-height: 195px;}
.invoice-right .payment-status{border: #f5f5f5 2px solid; padding: 10px; text-align: center; min-height: 240px;}
.invoice-right .payment-status h2{margin: 0; font-size: 24px; line-height: 28px; color: #000; padding-bottom: 20px;}
.invoice-right .payment-status h2 span{display: block; margin-top: 5px;}
.invoice-right .payment-status h2 span span{display: inline-block; border-radius: 10px; color: #fff; line-height: 40px; padding: 0 10px;}
.invoice-right .payment-status h2 span span.paid{background-color: #85d27a;}
.invoice-right .box-round{border: #ececec 2px solid; border-radius: 10px;}
.invoice-right .box-round h2{margin: 0; font-size: 20px; line-height: 28px; color: #545454; background-color: #f5f5f5; padding: 10px; border-radius: 10px 10px 0 0;}
.invoice-right .box-round .content{padding: 20px;}
.invoice-right .box-round .content p strong{display: block; font-size: 18px; font-weight: 600;}
.invoice-right .second-row{padding-bottom: 30px;}
.invoice-right .second-row h2{margin: 0; font-size: 20px; line-height: 28px; color: #545454; padding: 0 0 10px 10px; font-weight: 600;}
.invoice-right .transport_box{background-color: #f4f4f4; border-radius: 5px; padding: 15px;}
.invoice-right .transport_box h3{font-size: 18px; line-height: 30px; font-weight: 600; margin-top: 0; color: #000; padding-bottom: 5px;}
.invoice-right .transport_box table{background-color: transparent;}
.invoice-right .transport_box table th{padding-bottom: 5px 15px; font-weight: 400; text-transform: none; border: none !important;}
.invoice-right .transport_box table td{padding-top: 0 !important; padding-bottom: 0 !important; padding-left: 0 !important; vertical-align: top; border: none !important;}
.invoice-right .transport_box table td button{font-size: 12px;width:68px; line-height: 26px; height: 26px; padding: 0 5px !important; background: linear-gradient(#fefefe, #e6e6e6); color: #000; border: #b8b8b8 1px solid; text-align: left;}
.invoice-right .transport_box table td button:hover{background: linear-gradient(#e6e6e6, #fefefe);}
.invoice-right .transport_box table td button span{display: inline-block; width: 14px; height:14px; margin: 6px 4px 0 0; float: left;}
.invoice-right .transport_box table td button span.minus{background: url('../images/minus-icon.png') 0 0 no-repeat;}




.contract_table label{font-weight:400 !important;}
.contract_table select{margin-bottom:15px;}
.contract_table .bootstrap-timepicker input{width:65%; float:left; margin-bottom:40px;}
.contract_table .bootstrap-timepicker label{display:inline-block; float:right; line-height:35px;}
.contract_table .inner_row{padding-bottom:5px !important;}
.contract_table .ref_cont input{margin-bottom:15px;}
.contract_table .state_cont{overflow: hidden;}
.contract_table .state_cont .form-group{width: 31%; float: left; margin-right: 10px;}
.contract_table .state_cont .form-group.last{margin-right: 0;}
.contract_table .file_upload{padding-bottom: 15px;}
.contract_table .file_upload button{font-size: 14px; line-height: 32px; height: 32px; padding: 0 10px !important; background: linear-gradient(#4e95d5, #2f6ca3); border: #2a669a 1px solid; margin-bottom: 5px;}
.contract_table .file_upload button:hover{background: linear-gradient(#2f6ca3, #4e95d5);}
.contract_table .file_upload p{font-size: 12px; color: #818181;}
.contract_table .box-round{border: #ececec 2px solid; border-radius: 10px;}
.contract_table .box-round h2{margin: 0; font-size: 20px; line-height: 28px; color: #545454; background-color: #f5f5f5; padding: 10px; border-radius: 10px 10px 0 0;}
.contract_table .box-round .content{padding: 20px; min-height: 200px;}
.contract_table .box-round .content .state_cont .form-group{width: 30.5%;}
.contract_table .box-round label.semiBold{font-weight: 600 !important;}
.contract_table .box-round label a{float: right; display: inline-block;}
.contract_table .box-round .form-group p{font-size: 12px; color: #545454;}
.contract_table .invoices_cont{padding: 20px; background-color: #e9e9e9; border-radius: 5px;}
.contract_table .invoices_cont .row{padding-bottom: 0 !important}
.contract_table .invoices_cont .form-group p{font-size: 12px; color: #545454;}



/* Registration */
.reg_top{padding-bottom: 100px;}
.reg_top h2{margin-bottom: 60px; color: #000;}
.reg_steps{border-top: #cacaca 4px solid; list-style: none; padding: 0; position: relative; margin: 25px 0 0 100px; width: 70%}
.reg_steps li{position: absolute; top: -30px; color: #818181; width: 20%; text-align: center;}
.reg_steps li.step_1{left: -10%;}
.reg_steps li.step_2{left: 10%;}
.reg_steps li.step_3{left: 30%;}
.reg_steps li.step_4{left: 50%;}
.reg_steps li.step_5{left: 70%;}
.reg_steps li.step_6{left: 90%;}
.reg_steps li span{display: block; font-size: 30px; line-height: 45px; width: 55px; height: 55px; margin: 0 auto; background-color: #cacaca; color: #fff; border-radius: 50px; border: #fff 3px solid;}
.reg_steps li.active{color: #000;}
.reg_steps li.active span{background-color: #0b9dc9;}
.reg_bot h3{font-size: 18px; line-height: 28px; color: #000; font-weight: 600; margin: 0 0 40px; border-bottom: #cacaca 1px solid;}
.reg_bot .btn-cont{padding-top: 40px;}
.reg_bot .carrier_list{background-color: #f4f4f4; border-radius: 5px; padding: 20px;}
.reg_bot .carrier_list h3{font-size: 18px; line-height: 24px; color: #000; border:none; padding-bottom: 30px; margin: 0;}
.reg_bot .carrier_list table{border: none; margin: 0;}
.reg_bot .carrier_list table td{border: none !important; padding-bottom: 15px;}
.reg_bot .block_rate_form{padding-top: 40px;}
.reg_bot .block_rate_form select{width: 90% !important; margin: 0;}
.reg_bot .table_calc_block table{margin: 0; border: none !important;}
.reg_bot .table_calc_block table th,
.reg_bot .table_calc_block table td{border: none !important; background: none !important;}
.reg_bot .quote_cont .table-responsive table td button{width: auto !important;}
.reg_bot .panel{box-shadow:0 1px 1px rgba(0, 0, 0, 0.05) !important;}
.reg_bot .filter-head{padding-top: 20px !important; padding-bottom: 20px !important;}
.reg_bot .table-responsive{overflow-x: hidden;}
.reg_bot .table-responsive table{border: none;}
.reg_bot .table-responsive table th,
.reg_bot .table-responsive table td{border: none !important;}
.reg_bot .table-responsive table td{vertical-align: top;}
.reg_bot .table-responsive table th{background: none; font-weight: 400;}
.reg_bot .table-responsive table th.btn_cont{width: 11%;}
.reg_bot .table-responsive table td .deleteRow,
.reg_bot .table-responsive .edit_button{font-size: 12px; width:68px; line-height: 26px; height: 26px; padding: 0 5px !important; background: linear-gradient(#fefefe, #e6e6e6); color: #000; border: #b8b8b8 1px solid; margin-top: 4px;}
.reg_bot .table-responsive .edit_button{width:55px;}
.reg_bot .table-responsive .deleteRow:hover,
.reg_bot .table-responsive .edit_button:hover{background: linear-gradient(#e6e6e6, #fefefe);}
.reg_bot .table-responsive .deleteRow span{display: inline-block; width: 14px; height:14px; margin: 6px 4px 0 0; float: left; background: url('../images/minus-icon.png') 0 0 no-repeat;}
.reg_bot .table-responsive .addRowBtn_carrier.addrow{width: 85px;}
.reg_bot .logo_cont{padding-bottom: 20px; font-weight: 600;}
.reg_bot .logo_cont img{margin-right: 10px;}


/* Receivable */
.leftnavbar-wrapper .receivable h2{background:url(../images/receivable-icon.png) 0 0 no-repeat;}
.leftnavbar-wrapper .receivable ul{list-style:none; padding:0; margin:0;}
.leftnavbar-wrapper .receivable ul li{padding-bottom:5px;}
.leftnavbar-wrapper .receivable ul li a{text-decoration:underline; color:#3178ac;}
.leftnavbar-wrapper .receivable ul li a:hover{text-decoration:none;}
.contract_table table.receivable-table{border-right:1px solid #ddd;}
.contract_table table.receivable-table th,
.contract_table table.receivable-table td{border-right:none !important;}
.contract_table table.receivable-table td{text-align:left !important; vertical-align:top !important; padding-top:10px; padding-bottom:10px;}
.contract_table table.receivable-table td .checkbox{margin:0;}
.contract_table table.receivable-table td table,
.contract_table table.receivable-table td table td{border:none !important;}
.contract_table table.receivable-table td table td{padding: 10px 5px;}
.contract_table table.receivable-table td .form-inline{text-align:right;}
.contract_table table.receivable-table td .form-inline .form-group{padding:0 20px;}
.contract_table table.receivable-table td .form-inline .checkbox-inline input{margin-top:5px;}
.scan_check{padding-bottom:20px;}
.scan_check .btn-primary{font-size: 14px; line-height: 32px; height: 32px; padding: 0 10px !important; background: linear-gradient(#4e95d5, #2f6ca3); border: #2a669a 1px solid; margin-top:25px;}
.scan_check .btn-primary:hover{background: linear-gradient(#2f6ca3, #4e95d5);}
.receivable_top{padding-bottom:40px;}
.receivable_top .box-round{border: #ececec 2px solid; border-radius: 10px;}
.receivable_top .box-round h2{margin: 0; font-size: 20px; line-height: 28px; color: #545454; background-color: #f5f5f5; padding: 10px 20px; border-radius: 10px 10px 0 0;}
.receivable_top .box-round .content{padding: 20px; min-height:176px;}
.receivable_top .box-round .content p strong{display: block; font-size: 18px; font-weight: 600;}
.receivable_top table td{padding:2px !important;}
.receivable_top table td .price_cont{background-color:#f5f5f5; padding:80px 0; font-size:14px; color:#545454;}
.receivable_top table td .price_cont strong{display:block; font-size:30px; font-weight:400;}
.receivable_top table td .price_cont strong.red{color:#ff6c60;}
.receivable_top table td .button_cont{padding:15px;}
.receivable_top .btn-primary{font-size: 14px; line-height: 32px; height: 32px; padding: 0 10px !important; background: linear-gradient(#4e95d5, #2f6ca3); border: #2a669a 1px solid; margin-bottom:15px;}
.receivable_top .btn-primary:hover{background: linear-gradient(#2f6ca3, #4e95d5);}
.receivable_top .btn-primary span{display: inline-block; width: 15px; height:20px; margin: 7px 4px 0 0; float: left; background:url(../images/create-icon.png) 0 0 no-repeat;}
.receivable_top .btn-default{font-size: 14px; line-height: 50px; font-weight:600; height: 50px; padding: 0 15px !important; color:#3178ac; border-radius:10px; width: 255px;}
.receivable_top .btn-default span{display: inline-block; width: 30px; height:30px; margin: 10px 7px 0 0; float: left; background:url(../images/push-payment-icon.png) 0 0 no-repeat;}




.topPad40{padding-top: 40px !important;}
.noPad{padding:0 !important;}
.semiBold{font-weight: 600 !important;}
.topMar40{margin-top: 40px;}
.botMar60{margin-bottom: 60px;}
.rate_test .table-responsive table.noBord{border: none !important;}
.rate_test .table-responsive table.noBord th{border: none !important;}
.rate_test .table-responsive table.noBord td{border: none !important;}


/* TABLET LAYOUT (Desktop/992PX) 
----------------------------------------------- */
@media only screen and (min-width: 1200px){
    .customer-cost .table-responsive table td,
.career-cost .table-responsive table td{border: none !important; padding-top: 0 !important; width: auto;}
    
}


/* TABLET LAYOUT (LANDSCAPE/992PX) 
----------------------------------------------- */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.wrapper{ width:auto; margin:0; padding:0 15px;}
	.contact-info .list-unstyled li{word-break: break-all;}
	
	#magic-line{background-position:9px -758px;}
	.main-menu .navbar-nav > li > a { font-size: 15px; font-weight: 700; padding:13px 4% 11px 4%;}
	.icon-set{margin-right:4px;}
	.main-menu .navbar-nav > li > a i.fa-angle-down { margin-left: 5px;}
	.main-menu .navbar-nav > li > .dropdown-menu > li{width:auto;}
	.main-menu .navbar-nav .dropdown-menu > li > a{}
	.main-menu .navbar-nav .dropdown-menu > li > a .fa-angle-right{right:2px;}
}


/* TABLET LAYOUT (PORTRAIT/768PX) 
----------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 991px) {

	.wrapper{ width:auto; margin:0; padding:0 15px;}
	.contact-info .list-unstyled li{word-break: break-all;}
	#magic-line{background-position:9px -758px;}
	.main-menu .navbar-nav > li > a {font-size: 12px; font-weight: normal; padding: 25px 2%;}
	.icon-set{margin-right:4px;}
	.main-menu .navbar-nav > li > a i.fa-angle-down { margin-left: 5px;}
	.main-menu .navbar-nav > li > .dropdown-menu > li{width:auto;}
	.main-menu .navbar-nav .dropdown-menu > li > a{padding-right:20px;}
	.main-menu .navbar-nav .dropdown-menu > li > a .fa-angle-right{right:2px;}
	.content-wrapper { margin-left: 0 !important;}
	.leftnavbar-wrapper .nav-col{width:0;}
	.nav-small .content-wrapper {    margin-left: 232px !important;  }
	.nav-small .nav-col { width: 220px !important;}
	.btn-new{margin-right:5px;}
	.btn-new, .btn-quote{width: 138px;}
	.btn-new .fa-angle-right { margin-left: 5px;}
	.user-menu .btn-default.btn{font-size:12px;}
	.user-menu figure{padding:0 4px;}
	.support-team button {font-size:13px;}

    .contract_table .route_box,
    .contract_table .min_charge{clear: both;}

    .setup_top_left{margin-bottom: 20px;}
    .api_gray{margin-bottom: 20px;}

    .carrier-tab .row .form-group.vackent{height: auto !important;}

    .load_entry_top .mid_row .mid_row_inner .form-group,
    .load_entry_top .mid_row .mid_row_inner .input-group{width: 100%; float: none; padding-right: 0;}
    .load_entry_mid .mid_box{margin-bottom: 20px;}
    .shipping_product .table-responsive table td.diamention .form-control{width: 100%; margin: 0 0 10px; float: none;}
    .shipping_product .table-responsive{overflow-y: scroll; margin-bottom: 20px;}
    .btn-cont{padding-top: 20px;}

    .map_carrier_bottom .map_carrier_bottom_box{margin-bottom: 20px;}
	
	.map_carrier_top .map_carrier_top_box{margin-bottom:20px;}
	.map_carrier_top .map_carrier_top_box input{width:65%;}
	
	.setup_connectivity .connectivity_box{margin-bottom:20px;}

    .contract_table .box-round{margin-bottom:20px;}

    .reg_bot .table-responsive{overflow-y: scroll;}

    .receivable_top .box-round{margin-bottom: 30px;}

    .contract_table table.receivable-table td .form-inline{text-align: left;}
    .contract_table table.receivable-table td .form-inline .form-group{display: block; padding: 0 0 10px; }
    .contract_table table.receivable-table td .form-inline .checkbox-inline{display: block; margin: 0 0 10px !important;}

    .contract_table .fak .form-group{width: 4.9%;}

    .contract_table .new_contract_top .contract_right,
    .contract_table .new_contract_top .contract_left{margin-bottom: 30px;}

    .grid-view .table th{font-size: 10px !important;}
    .grid-view .table td{font-size: 11px;}

    .invoice-right .payment-status{min-height: auto; padding: 20px; margin-bottom: 30px;}
    .invoice-right .box-round{margin-bottom: 30px;}
    .invoice-right .transport_box{margin-bottom: 30px;}

    .rate_test .block_rate_form .form-group{margin-bottom: 10px; margin-right: 3px; width: 100%;}
    .rate_test .block_rate_form .form-group .form-control{width: 100%;}
    .quote_cont .table-responsive table td button.btn-primary,
    .quote_cont .table-responsive table td button.btn-success{margin-bottom: 5px;}

    .reg_bot .carrier_list{margin-bottom: 30px;}
}
	

/* MOBILE LAYOUT (PORTRAIT/320PX) 
----------------------------------------------- */
@media only screen and (max-width: 767px) {
	.wrapper{ width:auto; margin:0; padding:15px;}
	.table-responsive{overflow:visible;}
	.footable-row-detail-row{display: block;}
	.footable-row-detail-value{ display: block; width: 100%;  word-wrap: initial; word-break: break-all; white-space: initial;}
	.content-wrapper { margin-left: 0 !important;}
	.content-subcontainer{padding:0;}
	.leftnavbar-wrapper .nav-col{width:0;}
	.nav-small .content-wrapper { margin-left: 232px !important;  }
	.nav-small .nav-col { width: 220px !important;}
	.main-menu .navbar-nav{float:none;}
	.main-menu .navbar-nav > li > .dropdown-menu > li{width:auto; display:block;}
	.main-menu .navbar-nav > li > .dropdown-menu, .main-menu .navbar-nav > li > a{padding:10px 20px;}
	.main-menu .navbar-nav .open .dropdown-menu > li > a,
	.main-menu .navbar-nav .open .dropdown-menu > li > a:hover, .main-menu .navbar-nav .open .dropdown-menu > li > a:focus{color:#ffffff;}
	#magic-line { position: static; bottom: 0; left: 0; width: 0; height: 0; background:none}
	
	.leftnavbar-wrapper{margin-top: 164px;}
	.top-bar{height:110px;}
	.logo { padding: 0; width:50%;}
	.user-menu{ border:0;}
	.main-menu{top:110px;}
	.login { margin-top: 15px; position: absolute; right: 0; top: -46px; z-index: 999;}

	.leftnavbar-wrapper{ width: 100%;}	
	.navbar-header .toggle-menu{margin:12px 0 0 10px;}
	.btn-new{margin-right:5px;}
	.btn-new, .btn-quote{width: 150px;}
	.btn-group-new{margin-bottom:10px;}
	.add-new-shipment .input-group{float:none; width:100%;}
	
	.action-taken{padding-left:0; padding-right:0; }
	.action-taken > ul{margin-right:0; display: block;}
	.btn-all .btn-toggle{/*bottom:-10px;*/ right:0;}
	.grid-view .table{table-layout:fixed;}
	.body-container{width:auto; padding:0;}
	.grid-view .th-mobwidth > thead > tr > th{width:85%; text-align: left;}
	.grid-view .th-mobwidth > thead > tr > th:first-child, .grid-view .th-mobwidth  > tbody > tr > td:first-child{width:15%;text-align: left;}
	h2, .h2 {font-size: 18px;}
	h4, .h4 { font-size: 16px;}
	.form-control{font-size:11px;}
	.grid-view .table-responsive {overflow-x: auto;}
	.action-taken button{height: auto;overflow: hidden;padding: 15px;position: relative;}
	.filter-block h3{ float:none;}
	.filter-block ul li{display:block; padding-left:0;}
	.top-bar{height:auto;}
	.btn-group-new{ text-align:center;}
	.main-menu {
    top: 120px;
}
	.leftnavbar-wrapper {
    margin-top: 172px;
}

	.contract_table .table-responsive{overflow:scroll !important;}
	.contract_buttons button{margin-bottom:10px;}
    .contract_buttons button.delete_button{margin-top: 45px;}
    .contract_table .fak .form-group{width: 14%;}

    .setup_top_left{margin-bottom: 20px;}
    .account_type .account_type_inner{width: 100%; padding-bottom: 15px;}
    .api_gray{margin-bottom: 20px;}

    .contract_table .tab-content label.checkbox-inline{margin-left: 0;}

    .carrier-tab .row .form-group.vackent{height: auto !important;}

    .contract_table .schedule{width: 100%; float: none; margin-bottom: 10px;}
    .schedule_logo{float: none;}

    .service_logo{padding: 0 10px 20px;}

    .load_entry_top .mid_row .mid_row_inner .form-group,
    .load_entry_top .mid_row .mid_row_inner .input-group{width: 100%; float: none; padding-right: 0;}
    .load_entry_mid .mid_box{margin-bottom: 20px;}
    .shipping_product .table-responsive table td.diamention .form-control{width: 100%; margin: 0 0 10px; float: none;}
    .shipping_product .table-responsive{overflow-y: scroll; margin-bottom: 20px;}
    .btn-cont{padding-top: 20px;}
    .load_entry_mid .violet_box .violet_body .form-group{float: none; width: 100%; padding-right: 0;}
    .add_stop .table-responsive{overflow-y: scroll;}
    .tab-hld .table-responsive{overflow-y: scroll;}
    .tab-hld .gray-box .gray_body .form-group{float: none; width: 100%; margin: 0 0 20px !important;}

    .map_carrier_bottom .map_carrier_bottom_box{margin-bottom: 20px;}
    .map_carrier_top .map_carrier_top_box input{float: none; width: 100%; margin-bottom: 10px;}
    .map_carrier_top .map_carrier_top_box button{float: none;}
	
	.map_carrier_top .map_carrier_top_box{margin-bottom:20px;}
	
	.setup_connectivity .connectivity_box{margin-bottom:20px;}

    .reg_bot .table-responsive{overflow-y: scroll;}

    .receivable_top .box-round{margin-bottom: 30px;}

    .contract_table table.receivable-table td .form-inline{text-align: left;}
    .contract_table table.receivable-table td .form-inline .form-group{display: block; padding: 0 0 10px; }
    .contract_table table.receivable-table td .form-inline .checkbox-inline{display: block; margin: 0 0 10px !important;}

    .contract_table .new_contract_top .contract_right,
    .contract_table .new_contract_top .contract_left{margin-bottom: 30px;}
    .contract_table .effect_date .form-group{width: 50%;}

    .invoice-right .payment-status{min-height: auto; padding: 20px; margin-bottom: 30px;}
    .invoice-right .box-round{margin-bottom: 30px;}
    .invoice-right .transport_box{margin-bottom: 30px;}

    .invoice-right .transport_box .table-responsive{border: none !important; overflow-y: hidden !important;}
    .invoice-right .transport_box table{width: 170% !important; max-width: 170% !important;}
    .file-type-hld li{font-size: 10px !important;}

    .rate_test .col-sm-4{margin-bottom: 20px;}
    .rate_test .table-responsive{border: none !important; overflow-y: scroll !important;}
    .rate_test .block_rate_form .form-group{margin-bottom: 10px; margin-right: 3px; width: 100%;}
    .rate_test .block_rate_form .form-group .form-control{width: 100%;}
    .quote_cont .table-responsive table td button.btn-primary,
    .quote_cont .table-responsive table td button.btn-success{margin-bottom: 5px;}


    .reg_steps{margin: 25px 0 0 25px; width: 90%;}
    .reg_steps li{font-size: 10px; line-height: 14px; top: -20px; width: 20%; word-wrap: break-word;}
    .reg_steps li.step_1{left: -15%;}
    .reg_steps li.step_2{left: 5%;}
    .reg_steps li.step_3{left: 25%;}
    .reg_steps li.step_4{left: 46%;}
    .reg_steps li.step_5{left: 67%;}
    .reg_steps li.step_6{left: 88%;}
    .reg_steps li span{font-size: 15px; height: 40px; line-height: 34px; width: 40px;}

    .reg_bot .btn-cont button{margin-bottom: 10px;}

    .reg_bot .carrier_list{margin-bottom: 30px;}

    .connect_buttons .btn-default{margin-top: 10px;}
}
}



/* WIDE MOBILE LAYOUT (LANDSCAPE/480PX) 
----------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.support-team.pull-right {
    float: left !important;
}
}
/*----------media css start----------*/
@media (max-width:992px){
.customer-cost .table-responsive,.career-cost .table-responsive{overflow-x:auto ;}
}
@media (min-width:992px) and (max-width:1299px){
.menu-search .input-group.add-on{width:200px;margin-right:70px;}}
@media (min-width:1300px){
.menu-search .input-group.add-on{width: 290px;
margin-right: 20px;}}
@media (max-width:767px){
.menu-search .input-group.add-on {
    width: auto;
    margin-right: 70px;
}
.navbar-nav{margin:0;}
.logo img{    max-height: 40px;
}
.career-responded ul li{display:block !important;margin-bottom:5px !important;}
.action-open{overflow-x:hidden;}
.shipment-status {
    padding: 11px 20px 13px !important;
}
	.ui-multiselect {width:185px !important;}
	.add_cost {width:115px;}
.delete_cost{width:63px;}
	.input-group.add-on{margin-left: 26px;
margin-right: 26px;}
.add-new-shipment .input-group{padding-right: 12px;
padding-left: 12px;}
.btn-new {
	margin-top:15px;
    margin-right: 12px !important;
    margin-left: 12px !important;
	width: 134px !important;
}
.btn-cont {margin-top:15px;}
.career-table .table,.career-cost .table, .customer-cost .table{table-layout: auto;}

	}
@media (max-width:420px){
/*#swapArchived{top: -39px;}
#swapArchived2{top: -39px;}*/
}
@media (max-width:991px){
.main-menu .navbar-nav > li > a {
    font-size: 12px;
    font-weight: normal;
    padding: 13px 9%;
}}
@media (min-width:768px){
.shipment-status {
    padding: 6px 10px 18px 15px !important;
    clear: both;
}
.main-menu .navbar-nav > li > a{
font-size: 11px;
}
}
@media (min-width:767px) and (max-width:992px)
{
.menu-search .input-group.add-on {
    width: 241px !important;
    margin-right: 70px;
}
}
/*----------media css end----------*/